@using ShowReel.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "arrow--left" })

    <div class="login-box">

        <h2 class="txt--center line-under">Login</h2>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            <div class="input-container">
                <span class="input-background"><i class="fa fa-envelope"></i></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-style" , @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "arrow--left" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            <div class="input-container">
                <span class="input-background"><i class="fa fa-key"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-style", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "arrow--left" })
            </div>
        </div>
        <div class="form-group">
            <div class="check-group">
                <input type="checkbox" name="check" id="RememberMe"/>
@*                @Html.CheckBoxFor(m => m.RememberMe)*@
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Log in" class="btn btn--red btn--full" />
        </div>
        <div class="txt--center">
            <a href="~/Account/Register" class="btn btn-link">
                Register as a new user
                @*@Html.ActionLink("", "Register")*@
            </a>
        </div>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}