@model ShowReel.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "arrow-left" })
<div class="login-box">
    <h2 class="txt--center line-under">Create an account</h2>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        <div class="input-container">
            <span class="input-background"><i class="fa fa-envelope"></i></span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-style", @placeholder = "Email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        <div class="input-container">
            <span class="input-background"><i class="fa fa-key"></i></span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-style", @placeholder = "Password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        <div class="input-container">
            <span class="input-background"><i class="fa fa-repeat"></i></span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-style", @placeholder = "Retype password" })
        </div>
    </div>
    <div class="form-group">
          <input type="submit" class="btn btn--red btn--full" value="Register" />
    </div>
</div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
